@model EventEaseDBWebApplication.Models.Venue

@{
    ViewBag.Title = "Venue Details";
}

<h2>Venue Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.VenueName)</dt>
        <dd>@Html.DisplayFor(model => model.VenueName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Location)</dt>
        <dd>@Html.DisplayFor(model => model.Location)</dd>

        <dt>@Html.DisplayNameFor(model => model.Capacity)</dt>
        <dd>@Html.DisplayFor(model => model.Capacity)</dd>

        <dt>Image</dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Model.ImageUrl" alt="Venue Image" style="max-width: 300px; max-height: 200px;" />
            }
            else
            {
                <span>No image available</span>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VenueId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</p>