@model EventEaseDBWebApplication.Models.Venue

@{
    ViewBag.Title = "Edit Venue";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<h2>Edit Venue</h2>

@using (Html.BeginForm("Edit", "Venue", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.VenueId)

    <div class="form-group row mb-3">
        @Html.LabelFor(model => model.VenueName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.VenueName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.VenueName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row mb-3">
        @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsAvailable, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsAvailable)
                @Html.ValidationMessageFor(model => model.IsAvailable, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group row mb-3">
        @Html.LabelFor(model => model.Capacity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Capacity, new
            {
                htmlAttributes = new
                {
                    @class = "form-control",
                    type = "number",
                    min = "1",
                    required = "required",
                    value = Model.Capacity
                }
            })
            @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row mb-3">
        @Html.LabelFor(model => model.IsAvailable, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="form-check">
                @Html.CheckBoxFor(model => model.IsAvailable, new { @class = "form-check-input" })
                <label class="form-check-label" for="IsAvailable">
                    Venue is available for bookings
                </label>
            </div>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="control-label col-md-2">Replace Image</label>
        <div class="col-md-10">
            <input type="file" name="ImageFile" accept="image/*" class="form-control" />
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <div class="mt-2">
                    <p>Current image:</p>
                    <img src="@Model.ImageUrl" alt="Current Venue Image" class="img-thumbnail" style="max-height: 200px;" />
                </div>
            }
            else
            {
                <p class="mt-2">No image uploaded.</p>
            }
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-warning" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            // Ensure capacity field has a value
            if (!$('#Capacity').val()) {
                $('#Capacity').val('1');
            }
        });
    </script>
}